@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Nunito', sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-cursive {
  font-family: cursive;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}

.navigation ul li:hover,
.active-link {
  border-bottom: 2px solid #96bd66 !important;
}

.no-active-link {
  border-bottom: 2px solid transparent;
}